/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.btn {

    /* TODO Fare una classe a parte per la colorazione*/
    /* TODO Sistemare padding */
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;

}


h1 {
    margin: 20px;
    font-size: 36px;
}

p {
    margin: 20px;
}

/* HEADER */
header {

    background-color: #255EE9;
    padding-top: 10px;

}


.logo {
    width: 25%;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.menu {
    width: 50%;

}

ul{

    display: flex;
    justify-content: center;
}

.menu-link{

    list-style: none;
    padding: 20px;

}

.menu-link > a {
    color: white;
    text-decoration: none;
}


.login {
    width: 25%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* TODO: Sistemare background image */
.jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbo-content {
    max-width: 600px;
    text-align: center;
}

.jumbo-btn{
    display: flex;
    justify-content: center;
}

/* MAIN */

.section {
    padding: 40px;
}

.section > .container {
    max-width: 1200px;
}

/* TODO Sistemare le sezioni senza usare nth-child */
.section:nth-child(even) {
    background-color: #F6F6F6;
}


.element-a {

    width: 60%;

}

.element-b {

    width: 40%;

}

#large-section > .container {

    flex-direction: column;
    align-items: center;
}

h2 {

    margin: 20px;
}

.element-c {

    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}


/* FOOTER */

footer {
    background-color: #000000;
    padding-top: 10px;
    text-align: center;
}

#foot-elements {

    margin-bottom: 20px;
    
}

.left-element {

    height: 450px;
    flex-grow: 1;
    background-color: #F08080;
    border: 1px dotted darkblue;

}

.right-element {

    height: 450px;
    flex-grow: 3;
    display: flex;
}

.sub-element {

    height: 450px;
    flex-grow: 1;
    background-color: #20B2AA;
    border: 1px dotted white;
}

footer > hr{
    color: #C1C1C1;
    width: 80%;
}

#foot-banner {

    justify-content: space-between;
    margin-top: 10px;
    border-top: solid 1px white;
    padding: 20px 0 40px 0;

}

